body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  
  :root {
    --primary-color: #1E88E5; /* Blue */
    --secondary-color: #FFC107; /* Yellow */
    --accent1-color: #4CAF50; /* Green */
    --accent2-color: #FF5722; /* Orange */
  
    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Georgia', serif;
  
    --nav-background-color: #333333; /* Dark Gray */
    --nav-link-color: #FFFFFF; /* White */
    --nav-hover-link-color: #FFEB3B; /* Yellow */
    --nav-hover-background-color: #616161; /* Gray */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  
  p {
    padding: 25px;
  }
  
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  